---
// src/components/MobileMenu.astro
---

<div class="popup-mobile-menu" id="popupMobileMenu">
    <div class="inner">
        <div class="menu-top">
            <div class="menu-header">
                <a class="logo" href="/">
                    <img
                        src="/assets/images/logo/logo-circle.png"
                        width="72"
                        height="70"
                        alt="chkr.cc Circle Logo"
                    />
                </a>
                <div class="close-button">
                    <button
                        class="close-menu-activation close"
                        id="closeMobileMenuBtn"><i data-feather="x"></i></button
                    >
                </div>
            </div>
            <p class="discription">
                chkr.cc is the best free credit card checker/validator ever
            </p>
        </div>
        <div class="content">
            <ul class="primary-menu nav nav-pills">
                <li class="nav-item">
                    <a
                        class="nav-link smoth-animation active mobile-nav-link"
                        href="#home">Home</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link smoth-animation mobile-nav-link"
                        href="#features">Features</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link smoth-animation mobile-nav-link"
                        href="#api">API</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link smoth-animation mobile-nav-link"
                        href="#ai">AI</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link smoth-animation mobile-nav-link"
                        href="#support">Support</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link smoth-animation mobile-nav-link"
                        href="#changelog">Changelog</a
                    >
                </li>
            </ul>
            <!-- social share area -->
            <div class="social-share-style-1 mt--40">
                <span class="title">Connect with us</span>
                <ul class="social-share d-flex liststyle">
                    <li class="telegram">
                        <a href="https://t.me/chkrcc_bot" target="_blank"
                            ><i data-feather="send"></i></a
                        >
                    </li>
                </ul>
            </div>
            <!-- end -->
        </div>
    </div>
</div>
